form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.formEdit{
    display: flex;
    .labels{
        padding: 2rem;
        label{
            input{
                width: 30rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.editImage{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 2rem;
    .atualizarFotoDePerfil{
    display: flex;
    margin: 1rem;
    flex-direction: column;
        .button{
            max-width: 12rem;
        }
    }
    
}

.changeButtons{

    display: flex;
    width: 100%;
    .atualizarButton{
        padding-left: 2rem;
    }
    .cancelButton{
        background-color: rgba(128, 128, 128, 0.678);
        &:hover{
            background-color: gray;
        }
    }
}
.secondCard{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    .confirmMessage{
        background-color: #fff2d6;
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 6px;
        h3{
            color: #ffb827;
            font-weight: 600;
        }
        p{
            color: #ffb827;
        }
    }
    .confirmDelete{
        display: flex;
        margin-top: 1rem;
    }
    .confirmDeleteButton{
        margin-top: 1rem;
        .deleteButton{
            background-color: #ff3e1d;
            &:hover{
                background-color: #d43a1e;
            }
        }
    }
}