.container {
    padding-top: 84px;
    height: 100%;
    width: 100%;

    .profileHeader{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        background-color: #d3d7db;
        .profileInfo{
            display: flex;
            align-items: center;
            justify-content: start;
            padding-left: 40px;
            padding-top: 70px;
            border-radius: 4px;
            .profileImage {
                width: 150px;
                height: 150px;
                border: solid white;
                border-radius: 4px;
                margin: 10px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2px;

                }
            }
            .profileName {
            }
        } 
        .profileEditButton {
            padding-left: 40px;
            width: 100%;
            button{
                width: 150px;
                font-size: 20px;
                height: 40px;
            }
        }
    }
    .profileDescription{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: rgba(248,249,250,255);
        .profileDesc{
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            .Photos{
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }
            .Followers{
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }
            .Following{
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }
        }
    }
    .profileSobre{
        width: 100%;
        height: 100%;
        padding: 50px;
        h3{
            padding: 20px;
        }
        .sobre{
            background-color: rgba(248,249,250,255);
            padding: 20px;
            border-radius: 4px;
            p{
                text-align: start;
                font-size: 20px;
            }
        }
    }
    .profilePosts{
        width: 100%;
        height: 100%;
        padding: 50px;
        h3{

        }
        .profileCards{
            width: 100%;
            height: 100%;
            padding: 50px;
            display: grid;  // Muda de flex para grid
            grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));  // Ajuste automático de colunas
            gap: 20px;  // Espaço entre os cards
            justify-items: center;  // Centraliza os itens

        }
    }
}