.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    max-width: 800px;
    cursor: pointer;
    .img{
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: end;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
        }
        .content{
            width: 100%;
            padding: 1rem;
            position: absolute;
            display: flex;
            background: linear-gradient(transparent, rgb(0, 0, 0));
            .contentDescription{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    width: 50%;
                    h3{
                        color: rgb(206, 206, 206);
                    }
                    h4{
                        color: rgb(206, 206, 206);
                    }
            }
            .contentLike{
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    width: 50%;
                    h3{
                        color: rgb(206, 206, 206);
                    }
            }
        }

    }
    
    
}